.logVidCallIcon {
    width: 50px;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}
.callLogParent {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.callLogItem {
    width: 100%;
    height: 80px;
    background: #F8F8F8;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: bold;
}


.incomingCall {
    background-color: rgb(255, 200, 200);

}
.outgoingCall {
    background-color: rgb(213, 213, 251);
}

.missedCall {
    background-color: rgb(255, 200, 200);
}

.acceptedCall {
    background-color: rgb(211, 251, 211);
}
.callLogOptions {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.callLogOptions button {
    background:transparent;
    border: none;
    cursor: pointer;
}
.callStateIndicator {
    width: 17px;
    margin-right: 5px;
}
.callDuration {
    font-size: 10px;
    color: grey;
}