.otpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #EE9AE5 0%, #5961F9 100%);
    margin: 0;
    padding:0;
    width: 100%;
    height: 100vh;
}
.otpBox {
    width: 60%;
    height: 80dvh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px;
}
.otpHeader {
    color: #010851;
    border-bottom: 2px solid #010851;
}
.otpDescription {
    color:black;
    font-weight: 500;
    margin-top: 30px;
}
.otpDescription2{
    color:#ED80FD;
    font-weight: bold;
}
.timer {
    color: black;
}
.otp input {
    width:50px;
    margin:10px;
    border: none;
    border-bottom: 2px solid #ED80FD;
    text-align: center;
}
.otp input:focus{
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button {
    width: 100px;
    height: 38px;
    margin: 20px;
    background:transparent;
    border-radius: 15px;
    border:1px solid grey;
    color:#010851;
    font-size: 13px;
    font-weight: 500;
}
.verifyOtp {
    background: linear-gradient(135deg, #EE9AE5 0%, #5961F9 100%);
    color: white;
    border: none;
}
.resendOtp:disabled{
    background: rgb(217, 217, 217);
    color: grey;
}