.chatsContainer {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE9EE;
    overflow: hidden;

}
.chatsLeft {
    padding: 20px;
    background: white;
    width: 40%;
    min-width: 25pc;
}
.chatsRight{
    background: linear-gradient(160deg, #ee9ae5ff 0%, #5961f9ff 100%);
    width: 60%;
    overflow: hidden;
}
.chatsStyle {
    height: 96vh;
    margin: 10px 5px 5px 3px;
    border-radius: 5px;
    position: relative;
}
.belowAds{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.subLoader {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subLoaderSpinner {
    border: 3px solid #ee9ae5ff;
    border-top: 3px solid transparent; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

/* .navbarBannedParent {
    position: absolute;
    top:0;
    width: 100%;
    height: 50px;
    background-color: red;
    z-index: 54456;
} */
@media (max-width:700px){
    .chatsRight{
        display: none;
    }
}