.spinnerParent {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 100;
}
.spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    width: 50px !important;
    height: 50px !important;
    color: #ED80FD;
}