.conversationContainer {
    width: 100%;
    height: 100%;
    padding: 10px 10px 0px 10px;
    background: linear-gradient(160deg, #ee9ae5ff 0%, #5961f9ff 100%);
}

.conversationTopBar {
    width: 100%;
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.conversationAvatar {
    max-width: 70px;
    max-height: 60px;
    border-radius: 100%;
    border: 2px solid white;
}

.conversationDetails {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.conversationUserDetails {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
}

.conversationMenu img {
    width: 40px;
    margin: 5px;
    cursor: pointer;
}

.chatinInterface {
    width: 100%;
    height: 73vh;
    border-radius: 10px;
}

.chatinInterface .doodles {
    width: 100%;
    height: 95%;
    border-radius: 10px;
    background: linear-gradient(160deg,rgba(255, 192, 249, 0.505),rgba(169, 174, 255, 0.669) 100%),url('https://i.ibb.co/HKFFzJS/f35c360a2f51409dce5a1e5d0f41f86d.jpg') ;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    /* scroll-behavior: smooth; */
}

.conversationBottom {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px
}

.msgInput {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline-color: #ED80FD;
    padding: 10px;
}

.msgInput::placeholder {
    font-size: 13px;
}

.conversationBottom img {
    width: 40px;
    cursor: pointer;
}
.doodles .message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
    max-width: 50%;
    font-size: 15px;
    display: flex;
}

.doodles .rightMessage {
    background-color: #FCF7F7;
    color: #010851;
    text-align: right;
    align-self: flex-end;
}

.doodles .leftMessage {
    background-color: #ED80FD;
    color: white;
    text-align: left;
}
.message span {
    font-size: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.message span img {
    width: 15px;
}
.newConversation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.newConversation div {
    width: 50%;
    height: 60%;
    background-color: #ED80FD;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.newConversation div img {
    width: 50%;
}
.contextMenu {
    background-color: #ED80FD;
    border:2px solid white; 
}