.profileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileAvatar {
    width: 200px;
    margin: 10px;
    cursor: pointer;
    border-radius: 100px;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-header,.modal-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none !important ;
}
.profileConfig{
    width: 98%;
    height: 60%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: relative;
}
.profilePremiumBadge{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 13px;
    margin: 5px;
    background: linear-gradient(160deg, #ee9ae5ff 0%, #5961f9ff 100%);
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    height: 40px;
}
.afkDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    margin: 5px;
    /* border: 1px solid rgb(234, 234, 234); */
}
.profileLogoutBtn {
    position: absolute;
    bottom:0;
}
.premiumToggle {
    background: linear-gradient(160deg, #ee9ae5ff 0%, #5961f9ff 100%);
}
.profileBtnLogout {
    background-color: #ee9ae5ff;
    color: white;
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
    width: 150px;
    border: none;
}