.spinner-parent {
    /* background-color: red !important; */
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-parent span {
    width: 50px;
    height: 50px;
    border:3px solid #ED80FD;
    border-radius: 500px;
    border-bottom: white;
    animation: animate 0.5s linear infinite;
}
.listTop {
    background-color: red;
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usersList{
    padding:20px
}
.btnNew {
    width:150px ;
    background: #5961F9 ;
    color: white;
    border-radius: 5px;
    border:none;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}