.boxContainer{
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.15); ;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.boxImg{
    width: 110px;
    transform: scaleX(-1);
}
/* .subBox2{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
} */