.notesContainer {
    padding: 10px;
    overflow: auto;
    height: 500px;
}

.notesListItem {
    width: 100%;
    height: auto;
    background: white;
    border-radius: 40px;
    padding: 15px;
    display: flex;
    margin-top: 10px;
    box-shadow: 0px 0px 20px 10px #f8f8f8;
}

.notesAvatar {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.notesDetails {
    width: 70%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notesListItem .username {
    color: black;
    font-size: 1.6rem;

}
.notesDetails .noteContent {
    white-space: nowrap;
    overflow: auto;
}
.notesState{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notesState .likeBtn{
    font-size:25px;
    cursor: pointer;
}
.notesState .time {
    color: #010851;
    font-size: 11px;
    display: flex;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* color: rgb(184, 184, 184); */
}
.notesListItem .textReply {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #010851;
    cursor: pointer;
    font-size: 12px;
}
.notesListItem .btnDelete{
    width: 20px;
    cursor: pointer;
    transition: all 0.5s;
}
.notesListItem .btnDelete:hover{
    transform: scale(1.1);
}