.videoCallUIParent {
    width: 100%;
    height: 100vh;
    background: linear-gradient(160deg, #ee9ae5ff 0%, #5961f9ff 100%);
    position: absolute;
}

.videoCallUserDetails {
    width: 100%;
    height: 20vh;
    color: white;
    gap: 30px;
}

.videoCallStreams {
    width: 100%;
    height: 83vh;
    gap: 10px;
}

.videoCallControls {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 30px;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vidStream {
    max-width: 45%;
}

.syncup-pink-btn {
    background: #ED80FD;
    height: 40px;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 10px;
    font-size: 14px;
    z-index: 100;
    padding: 10px;
}

.videoCallLoader {
    width: 100%;
    height: 100%;
    position: absolute;
    gap: 10px;
    color: white;
}

.videoCallLoaderSpinner {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 100%;
    border-top-color: transparent;
    animation: spin 0.7s linear infinite;
}

.selfStream {
    position: absolute;
    right: 0;
    margin: 10px;
    bottom: 30px;
    width: 200px;
    z-index: 200;
}

.remoteStream {
    margin-top: 100px;
    position: relative;
}

.vidCallAvatar {
    width: 60px;
    border-radius: 100%;
    /* position: absolute; */
}

.vidCallUserImg {
    width: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    border-radius: 100%;
    margin: 30px;
}

.vidParent {
    position: relative;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
