.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(160deg, #ee9ae5ff 0%, #5961f9ff 100%);


}
.videoContainer button {
    /* background-color: #ED80FD; */
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    /* color: white; */
}
.callOptions {
    padding: 10px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.selfStream{
    width: 200px;
    height: 200px;
    border-radius:10px;
    position: absolute;
}
.selfVideo{
    transform:rotateY(180deg);
    position: absolute;
    right: 30px;
    bottom:220px;
    border-radius:100%;
}
.opponentVideo {
    margin-top:10px;
    border-radius: 100%;
}
.userDetailsVidCall{
    position: absolute;
    top:5%;
}
.userDetailsVidCall h4{
    color:white;
}
.vidCallAvatar{
    width: 60px;
    border-radius: 100%;
}
.vidLoading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    background-color: transparent;
    background-color: transparent;
    flex-direction: column;
    padding: 100px;
}
.vidLoading span {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-right: none;
    border-radius: 100%;
    animation: spin 0.7s linear infinite;
}
.btnHangup{
    background-color: #ED80FD;
    color: white;
    font-size:13px;
}
.btnHangup img {
    width:16px;
    margin:5px;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}