.topBarContainer {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 10px;
}

.searchBar {
    height: 35px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    color: white;
    background: #ED80FD;
}

.icon {
    cursor: pointer;
}

.chatOptions {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.searchBar::placeholder {
    color: white;
}

.inputImg {
    width: 40px;
}

.chatOptions .icon {
    width: 35px;
    margin: 5px;
}

.settingsIcon:hover {
    transition: 0.5s;
    cursor: pointer;
    animation: rotate 800ms linear;
}

.notiNum {
    position: absolute;
    color: white;
    background-color: red;
    border-radius: 50px;
    font-size: 10px;
    margin: 10px;
    width: 15px;
    height: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.premiumRequired {
    background: linear-gradient(160deg, #ee9ae5ff 0%, #5961f9ff 100%);
    background-clip: text;
    color: transparent;
}

.chatPointsBubble {
    background: linear-gradient(160deg, #ee9ae5ff 0%, #5961f9ff 100%);
    width: fit-content;
    color: white;
    border-radius: 10px;
    width: 40px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-left: 30%;
}
.menuIcon {
    width: 10px;
}
@keyframes rotate {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}