.chatTabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    padding: 10px;
    color: black;
}
.chatTabs h5 {
    color: gray;
    font-weight: 400;
    margin-top: 5px;
    font-size: 25px;
}
.activeTab {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 34px;
}
.chatTabs .rightIcon{
    width: 20px;
}
.inActiveTab{
    cursor: pointer;
}
.chatTabs div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding:5px;
}
.callLogIndicator {
    position: relative;
    width: 7px;
    height: 7px;
    background-color: red;
    border: 2px solid red;
    border-radius: 100%;
}